@media (max-width: 780px) {
  main {
    padding: 0;
  }
  #main-wrapper {
    border-radius: 0;
    flex-direction: column;
  }
  #main-wrapper .dash {
    width: 100%;
    height: 1px;
  }
  #main-wrapper .inner {
    width: 100%;
    box-sizing: border-box;
  }
  #warning{
    border-radius: 0;
  }
}
